*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: 'montserrat', san-serif;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif, 'montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  align-items: center;
  justify-content: center;
  background: #f1f1f1;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.loading{
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%)
}

.loading span{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: inline-block;
  margin: 0 6px;
}


.s1{
  background: #e74c3c;
  animation: a1 0.5s infinite;
}

.s2{
  background: #3498db;
  animation: a2 0.5s infinite;
}

.s3{
  background: #27ae60;
  animation: a3 0.5s infinite;
}

@keyframes a1 {
  25%{
    transform: scale(1)
  }
  50%{
    transform: scale(.2)
  }
  75%{
    transform: scale(1)
  }
  100%{
    transform: scale(1)
  }
}

@keyframes a2 {
  25%{
    transform: scale(1)
  }
  50%{
    transform: scale(1)
  }
  75%{
    transform: scale(1.2)
  }
  100%{
    transform: scale(1)
  }
}

@keyframes a3 {
  25%{
    transform: scale(1)
  }
  50%{
    transform: scale(1)
  }
  75%{
    transform: scale(1)
  }
  100%{
    transform: scale(1.2)
  }
}

.headers{
  height: 100px;
  background: #34495e;
  padding: 0 20px;
  color: #fff;
}

.logo{
  margin: 0;
  line-height: 100px;
  float: left;
  text-transform: uppercase;
}

.menu{
  margin: 0;
  float: right;
  line-height: 100px
}

.menu a{
  color: #95a5a6;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0 10px;
  transition: 0.4s;
}

.show-menu-btn,.hide-menu-btn{
  transition: 0.4s;
  font-size: 30px;
  cursor: pointer;
  display: none;
}

.show-menu-btn{
  float: right;
}

.show-menu-btn i{
  line-height: 100px;
}

.menu a:hover,
.show-mene-btn:hover,
.hide-menu-btn:hover{
  color: #3498db;
}

#chk{
  position: absolute;
  visibility: hidden;
  z-index: -1111;
}

@media screen and (max-width:800px) {
  .show-menu-btn,.hide-menu-btn{
    display: block;
  }
  .menu{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #333;
    right: -100;
    top: 0;
    text-align: center;
    padding: 80px 0;
    line-height: normal;
    transition: 0.7s
  }
  .hide-menu-btn{
    position: absolute;
    top: 40px;
    right: 40px;
  }
  #chk:checked ~ .menu{
    right: 0;
  }
}

.s-m{
  position: absolute;
  top: 50%;
  left: 53%;
  transform: translate(-70%, -70%);
}

.s-m a{
  display: inline-flex;
  width: 40px;
  height: 40px;
  background: #2c3e50;
  color: white;
  margin: 0 6px;
  border-radius:50%;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
  font-size: 24px
}

.sm a:hover{
  background: #e67e22;
}

.s-m a i{
  transition: 0.4s all;
}

.s-m a:hover > i{
  transform: scale(1.6) rotate(25deg);
}

.landing-page{
  width: 100%;
  height: 100vh;
  background: #000;
  position: relative;
  overflow: hidden;
}
.landing-page::after{
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: url(./images/home.jpg) no-repeat;
  background-size: cover;
  opacity: 0.3;
  animation: anim 100s linear infinite;
}
@keyframes anim {
  50%{
    transform: scale(2);
  }
  100%{
    transform: (1)
  }
}
.page-content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  width: 100%;
  max-width: 800px;
  text-align: center;
  padding: 0 40px;
  box-sizing: border-box;
}
.page-content h1{
  color: #ff7979;
  text-transform: uppercase;
  font-size: 50px;
  font-weight: 900;
  margin-bottom: 20px;
}
.page-content p{
  color: #fff;
  margin-bottom: 20px;
}
.page-content a{
  display: inline-block;
  text-decoration: none;
  color: #ff7979;
  border: 2px solid #ff7979;
  text-transform: uppercase;
  padding: 10px 20px;
  transition: 0.4s linear;
}
.page-content a:hover{
  color: #fff;
  background: #ff7979;
}
.text{
  padding: 10px;
  text-align: justify;
}
.text div{
  margin-bottom: 6px;
}

.login-page{
  background: url('./images/login.jpg') no-repeat center fixed;
  background-size: cover;
  padding-top: 10%;
  padding-bottom: 10%;
}
.register-page{
  background: url('./images/register.jpg') no-repeat center fixed;
  background-size: cover;
  padding-top: 10%;
  padding-bottom: 10%;
}
.home-page{
  background: url('./images/home_page.jpg') no-repeat center fixed;
  background-size: cover;
  padding-top: 0;
  padding-bottom: 300px;
}
.stock-page{
  background: url('./images/stock.jpg') no-repeat center fixed;
  background-size: cover;
  padding-top:10px;
  padding-bottom: 10%;
}
.rental-page{
  background: url('./images/rental.png') no-repeat center fixed;
  background-size: cover;
  padding-top: 10px;
  padding-bottom: 10%;
}